<%-include("partials/header")%>
<body>
<div class="container" id="main">
    <% if (title !== "read-more") { %>
        <h1><%= title %></h1>
    <% } %>

    <% if (title !== "Compose" && title !== "read-more" && title !== "Contact Us") { %>
        <p><%= content %></p>
    <% } %>

    <% if (title === "Home" && posts.length > 0) { %>
        <% posts.forEach((post) => { %>
            <ol class="list-group list-group">
                <li class="list-group-item">
                   <div class="d-flex">
                       <h3 class="col-10"><%= post.postTitle %></h3>
                       <div class="mt-2 form-check form-switch d-md-table-cell">
                           <form method="post" action="/delete">
                                <input class="form-check-input" name="postId" type="checkbox" role="switch" id="postId" value="<%=post.id%>" onclick="this.form.submit()">
                           </form>
                           <label class="form-check-label" for="deletePost" style="color:#B90A38">Delete</label>
                       </div>
                   </div>

                    <div id="postWrapper" class="py-0 px-0">
                        <p id="postResult"><%= post.body %><span>...</span></p>
                        <form action="/read-more" method="post">
                            <input type="hidden" name="postId" id="postId" value="<%= post.id %>">
                            <button onclick="this.form.submit()" id="readMoreBtn">Read more</button>
                        </form>
                    </div>
                </li>
            </ol>
        <% }); %>
    <% } %>

    <div class="d-grid">
        <% if (title === "Home") { %>
            <form method="post" action="/">
                <button class="btn btn-primary float-start mt-2 col-2" type="submit" name="compose" value="compose" onclick="this.form.submit()">Compose</button>
            </form>
        <% } %>
    </div>

    <% if (title === "Compose") { %>
        <form method="post" action="/compose">
            <div class="bd-example mt border-0">
                <div class="mb-3">
                    <label for="title" class="form-label"><strong>Title</strong></label>
                    <input type="text" name="title" class="form-control" id="title">
                </div>
                <div class="mb-3">
                    <label for="post" class="form-label"><strong>Post</strong></label>
                    <textarea class="form-control" name="post" id="post" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label"><strong>Submitter</strong></label>
                    <input type="text" name="name" class="form-control" id="name">
                </div>
                <div>
                    <input type="submit" name="publish" id="publish_btn">
                </div>
            </div>
        </form>
    <% } %>
        <%if(title === "Contact Us"){%>
        <div class="container">
            <section>
                <h2>Contact Information</h2>
                <ul>
                    <li><strong>Email:</strong> <a href="mailto:s.impunity@code.rs">s.impunity@code.rs</a></li>
                    <li><strong>Address:</strong> Renton, WA, 98057</li>
                    <li><strong>Phone:</strong> <a href="tel:+15553450101">+1 (555) 345-0101</a></li>
                    <li><strong>Website:</strong> <a href="https://impunity.code" target="_blank">impunity.code</a></li>
                </ul>
            </section>
        </div>
        <%}%>

    <% if (title === "read-more") { %>
        <div class="container">
            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1"><%= post.postTitle %></h2>
                <p class="mt-3"><%= post.body %></p>
                <p class="blog-post-meta" id="postDate"><%= post.date %> by <b><%= post.name %></b></p>
            </article>
        </div>
    <% } %>
</div>
</body>

<%- include("partials/footer")%>
</html>